// | -------------------------------------------------------------
// | Globals
// | -------------------------------------------------------------

@use 'base/reset';
@use 'base/root';
@use 'base/font';
@use 'base/list';
@use 'base/container';
@use 'base/breakpoint';
@use 'base/button';
@use 'base/color';
@use 'base/outline';
@use 'base/space-content';
@use 'base/code-block';

.wrap-words {
  width: 50vw;

  padding: 10px;
  word-wrap: break-word;
  font-size: 20px;
}

