---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import {getAccessToken} from '../../lib/services/spotify/auth/accessToken/getAccessToken'
import { Buffer } from 'buffer'


// let accessToken = getAccessToken()


---

<DefaultLayout title="Home">
  <section class="my-64 bg-slate-700 p-2">
  token: 
  </section>
</DefaultLayout>
