---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { getAccessToken } from '../../lib/services/spotify/auth/accessToken/getAccessToken'
import { Buffer } from 'buffer'
import { getArtists } from '../../lib/services/spotify/artist/getArtists'

// let artist = await getArtists()
// console.log(artist.images);

---

<DefaultLayout title="Home">
  <section class="my-64 bg-slate-700 p-2">
    <ul>
    <!-- <li>{artist.images[0]}</li> -->
    </ul>
  </section>
</DefaultLayout>
