---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Home">
  <section class="my-64 bg-slate-700 p-2">
    <ul></ul>
  </section>
</DefaultLayout>

<script>
  const urlParams = new URLSearchParams(window.location.search)
  let code = urlParams.get('code')
  let codeVerifier = localStorage.getItem('code_verifier')
  console.log(codeVerifier)
  let body = new URLSearchParams({
    grant_type: 'authorization_code',
    code: code || '',
    redirect_uri: 'http://localhost:4321/spotify/user',
    client_id: 'aad38f2633ec4bac9c9ac8027dcbed92',
    code_verifier: codeVerifier || '',
  })

  const response = fetch('https://accounts.spotify.com/api/token', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: body,
  })
    .then((response) => {
      if (!response.ok) {
        throw new Error('HTTP status ' + response.status)
      }
      const data = response.json()

      return response.json()
    })
    .then((data) => {
      localStorage.setItem('access_token', data.access_token)
    })
    .catch((error) => {
      console.error('Error:', error)
    })

  async function getProfile() {
    let accessToken = localStorage.getItem('access_token')

    const response = await fetch('https://api.spotify.com/v1/me', {
      headers: {
        Authorization: 'Bearer ' + accessToken,
      },
    })

    const data = await response.json()
  }

  getProfile()
</script>
