---
import DefaultLayout from '../layouts/DefaultLayout.astro'

import PasswordGeneratorTest from '../components/react/PasswordGeneratorTest.jsx'

export async function getStaticPaths({ paginate }) {
  const response = await fetch('https://jsonplaceholder.typicode.com/posts')
  const data = await response.json()

  return paginate(data, { pageSize: 6 })
}

const { page } = Astro.props
---

<DefaultLayout title="Random Password Generator" description="An example of a Random Password Generation Component.">
  <section class="my-12">
    <div class="space-content container flex flex-col items-center">
      <h1>Password Generator</h1>
      <img
        src="https://imgs.search.brave.com/vo6BX_XoOCp2zawTPCX6LDR7GYMp4BkOPyDkA_f-uFs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9h/L2E3L1JlYWN0LWlj/b24uc3Zn.svg"
        width="100"
        alt=""
      />
    </div>

    <PasswordGeneratorTest client:load />
  </section>
  <section class="my-12">
    <div class="p-4">
      <h1 class="font-font-1 text-2xl">The Importance of Passwords</h1>

      <section class="mt-4">
        <h2 class="font-font-1 text-4xl">Introduction</h2>
        <p class="my-3 font-2">
          In today's digital world where almost everything is behind an authentication system requiriong emails,
          passwords and sometimes phonenumbers , passwords play a crucial role in securing our online accounts and
          sensitive information that could if compromised be detrimental to your life.
        </p>

        <img
          src="https://images.unsplash.com/photo-1614064641938-3bbee52942c7?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="image"
          width="400"
          class="rounded-md shadow"
        />
      </section>

      <section class="mt-4">
        <h2 class="font-1 text-4xl">The Risks</h2>





<div class="p-4">
  <h2 class="text-xl font-font-1">Top 20 Most Common Passwords According to NordPass</h2>

  <ul class="mt-4   list-decimal">
    <li>123456</li>
    <li>123456789</li>
    <li>12345</li>
    <li>qwerty</li>
    <li>password</li>
    <li>12345678</li>
    <li>111111</li>
    <li>123123</li>
    <li>1234567890</li>
    <li>1234567</li>
    <li>qwerty123</li>
    <li>000000</li>
    <li>1q2w3e</li>
    <li>aa12345678</li>
    <li>abc123</li>
    <li>password1</li>
    <li>1234</li>
    <li>qwertyuiop</li>
    <li>123321</li>
    <li>password123</li>
  </ul>
</div>








        <p>
          "password1234" ""
        </p>
        <p>
          Weak or compromised passwords can expose individuals and organizations to a range of security risks, including
          unauthorized access, data breaches, and identity theft.
        </p>
      </section>

      <section class="mt-4">
        <h2 class="font-font-1 text-xl">Best Practices</h2>
        <p>
          To mitigate these risks, it's essential to follow best practices for creating and managing passwords. This
          includes using strong, unique passwords for each account and enabling multi-factor authentication.
        </p>
      </section>

      <section class="mt-4">
        <h2 class="font-font-1 text-xl">Conclusion</h2>
        <p>
          Passwords are the first line of defense in online security. Understanding their importance and taking the
          necessary steps to protect them is crucial in today's digital age.
        </p>
      </section>
    </div>
  </section>
</DefaultLayout>

<script></script>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .password-generator-button {
    @apply my-4;
  }
  .generated-password {
    @apply text-4xl;
  }
</style>
