---


const currentYear = new Date().getFullYear()
---

<footer>

  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Made with  <a href="https://astro.build/">Astro</a> by <a
        target="_blank"
          href="https://github.com/tungle0319">Tung Le</a
        >.
      </p>
    </div>
  </section>
</footer>
